[project]
	description = Detect if a device is jailbroken and also detect if an app is cracked on a non jailbrkoen device.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pop Panchapol (panchapol)
[access "refs/for/refs/*"]
	read = group user/Pop Panchapol (panchapol)
	push = group user/Pop Panchapol (panchapol)
	label-Code-Review = -2..+2 group user/Pop Panchapol (panchapol)
	label-Verified = -1..+1 group user/Pop Panchapol (panchapol)
	rebase = group user/Pop Panchapol (panchapol)
	removeReviewer = group user/Pop Panchapol (panchapol)
	submit = group user/Pop Panchapol (panchapol)
[access "refs/heads/*"]
	read = group user/Pop Panchapol (panchapol)
	create = group user/Pop Panchapol (panchapol)
	push = +force group user/Pop Panchapol (panchapol)
	pushMerge = group user/Pop Panchapol (panchapol)
[access "refs/tags/*"]
	push = +force group user/Pop Panchapol (panchapol)
	pushTag = group user/Pop Panchapol (panchapol)
	pushSignedTag = group user/Pop Panchapol (panchapol)
